# Ques3(a)

In [1]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
#importing necessary libraries

In [2]:
df = pd.read_csv("iris.data",names=['sepal length','sepal width','petal length','petal width','class'])
#loading data

In [3]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal length  150 non-null    float64
 1   sepal width   150 non-null    float64
 2   petal length  150 non-null    float64
 3   petal width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.isnull().sum()
#no null values

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

In [6]:
df['class']= LabelEncoder().fit_transform(df['class'])
#converting labels values to numbers

In [7]:
df_stan=StandardScaler().fit_transform(df.iloc[:,:-1])
df_stan=pd.DataFrame(df_stan)
df_stan.columns=df.columns[:-1]
#scaling features

In [8]:
df_stan.head()

   sepal length  sepal width  petal length  petal width
0     -0.900681     1.032057     -1.341272    -1.312977
1     -1.143017    -0.124958     -1.341272    -1.312977
2     -1.385353     0.337848     -1.398138    -1.312977
3     -1.506521     0.106445     -1.284407    -1.312977
4     -1.021849     1.263460     -1.341272    -1.312977

In [9]:
x_tr, x_te, y_tr, y_te = train_test_split(df_stan,df['class'], random_state = 1)
#splitting between train and test

In [10]:
nb = GaussianNB()
nb.fit(x_tr, y_tr)
print("Naive Bayes score: ",nb.score(x_te, y_te))
# using Gaussian Naive Bayes Classifier and reporting the 
# accuracy of your model

Naive Bayes score:  0.9736842105263158

# Ques3(b)

One of the disadvantages of Naïve-Bayes is that if you have no occurrences of a class label and a certain attribute value together then the frequency-based probability estimate will be zero. And this will get a zero when all the probabilities are multiplied.. It skews the whole performance of the classification. The attributes individual probabilities are multiplied because of the naive independent assumption. An approach to overcome this ‘zero-frequency problem’ in a Bayesian environment is called laplace smoothing in which we add one to the count for every attribute value-class combination when an attribute value doesn’t occur with every class value.

This is helpful because we dont want the entire probability to be zero just beause of some attribute value which has never occured in training in association with a particular class. adding 1 to the count of every attribute-class pair ensures that the probability does not vanish.